* {
  font-family: sans-serif;
}

form {
  border: 1px black solid;
  padding: 10px;
  width: 30%;
  background-color: aliceblue;
}

input {
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}

form button {
  padding: 7px;
  background-color: lightgrey;
  width: 100%;
  margin-top: 15px;
}
